body {
	/* margin: 3% 5% 0; */
}
h2, h3 {
	margin: 0 0 20px;
}
ul {
	/* list-style: none; */
	/* float:left; */
}
/*li {
	max-width: 170px;
	float:left;
	font: 18px/22px Helvetica;
	font-weight: 100;
	text-transform: uppercase;
}*/
.item { width: 25%; }
img {
	margin:0;
	padding:0;
}
.wrap {
	width: 50%;
	margin: 3% auto;
}
.menu {
	float: left;
	width: 20%;
	margin-right: 5%;
}
.menu p {
	font:0.7em/1.4em Helvetica;
}
#classe span, #ordre span, #familia span {
	text-transform: uppercase;
	font:0.6em/1.4em Helvetica;
	/* margin: 0 10px 0 0; */
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}
.things {
	width: 75%;
	float: left;
}
.bug-box {
	width: 18%;
	float: left;
	border: 1px solid black;
	padding: 20px;
	margin: 1%;
}

.bug-box h1 {
	font-size: 1em;
}

.bug-box h3 {
	font: 0.8em/1.2em Helvetica;
	text-transform: uppercase;
}
.bug-box p {
	font: 0.8em/1.2em Helvetica;
}
select {
	width: 150px;
	display: inline-block;
}